.main {
  width: 100%;
}

.main > form {
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0,.1);
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.main > form > h2 {
  text-align: center;
  margin: 1rem auto;
}

.form_group {
  width: 100%;
  margin: 1rem auto;
}

.form_group > label {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  display: block;
}

.form_group > input,
.form_group > textarea {
  border: 1px solid rgba(0,0,0,.1);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  width: 100%;
}

.form_group > input:focus,
.form_group > textarea:focus {
  outline: none;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit > button {
  padding: 0.8rem 3rem;
  border: none;
  background: #02c5bd;
  border-radius: 16px;
  color: #fff;
  font-weight: 700;
  margin: 2rem 0;
  font-size: 1rem;
}

.submit > button:disabled {
  background: #ccc;
}